#body {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/31787/stars.jpg");
    background-size: cover;
 }


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    color: white;
    text-shadow: black; 
    font-size: 70px; 
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
 }

.gif {
    float: left;
}

form {
    color: white;
}

img {
height: 180px;
}